# APP_URL: The URL where this app is hosted.
APP_URL="https://clubedasorte.athominfotech.com.br"

# DATABASE_URL: Prisma database connection string for PostgreSQL.
DATABASE_URL="postgresql://clubedasorte_user:SENHA@localhost:5432/clubedasorte_db"

# JWT_SECRET: Secret key for signing JSON Web Tokens for admin access
JWT_SECRET="clubedasorte_secret"
